@import "https://unicons.iconscout.com/release/v4.0.0/css/line.css";
@import "https://unicons.iconscout.com/release/v4.0.0/css/solid.css";
@import "https://unicons.iconscout.com/release/v4.0.0/css/thinline.css";
@import url(./../assets/icons/feather/feather-icons.css);
@font-face {
  font-family: "Nexa";
  font-weight: 100;
  src: url("../assets/fonts/NexaExtraLight.otf") format("opentype"); }

@font-face {
  font-family: "Nexa";
  font-style: italic;
  font-weight: 100;
  src: url("../assets/fonts/NexaExtraLightItalic.otf") format("opentype"); }

@font-face {
  font-family: "Nexa";
  font-weight: 200;
  src: url("../assets/fonts/NexaThin.otf") format("opentype"); }

@font-face {
  font-family: "Nexa";
  font-style: italic;
  font-weight: 200;
  src: url("../assets/fonts/NexaThinItalic.otf") format("opentype"); }

@font-face {
  font-family: "Nexa";
  font-weight: 300;
  src: url("../assets/fonts/NexaLight.otf") format("opentype"); }

@font-face {
  font-family: "Nexa";
  font-style: italic;
  font-weight: 300;
  src: url("../assets/fonts/NexaLightItalic.otf") format("opentype"); }

@font-face {
  font-family: "Nexa";
  font-weight: 400;
  src: url("../assets/fonts/NexaBook.otf") format("opentype"); }

@font-face {
  font-family: "Nexa";
  font-style: italic;
  font-weight: 400;
  src: url("../assets/fonts/NexaBookItalic.otf") format("opentype"); }

@font-face {
  font-family: "Nexa";
  font-weight: 500;
  src: url("../assets/fonts/NexaRegular.otf") format("opentype"); }

@font-face {
  font-family: "Nexa";
  font-style: italic;
  font-weight: 500;
  src: url("../assets/fonts/NexaRegularItalic.otf") format("opentype"); }

@font-face {
  font-family: "Nexa";
  font-weight: 600;
  src: url("../assets/fonts/NexaBold.otf") format("opentype"); }

@font-face {
  font-family: "Nexa";
  font-style: italic;
  font-weight: 600;
  src: url("../assets/fonts/NexaBoldItalic.otf") format("opentype"); }

@font-face {
  font-family: "Nexa";
  font-weight: 700;
  src: url("../assets/fonts/NexaXBold.otf") format("opentype"); }

@font-face {
  font-family: "Nexa";
  font-style: italic;
  font-weight: 700;
  src: url("../assets/fonts/NexaXBoldItalic.otf") format("opentype"); }

@font-face {
  font-family: "Nexa";
  font-weight: 800;
  src: url("../assets/fonts/NexaHeavy.otf") format("opentype"); }

@font-face {
  font-family: "Nexa";
  font-style: italic;
  font-weight: 800;
  src: url("../assets/fonts/NexaHeavyItalic.otf") format("opentype"); }

@font-face {
  font-family: "Nexa";
  font-weight: 900;
  src: url("../assets/fonts/NexaBlack.otf") format("opentype"); }

@font-face {
  font-family: "Nexa";
  font-style: italic;
  font-weight: 900;
  src: url("../assets/fonts/NexaBlackItalic.otf") format("opentype"); }
