p {
    right: 0;
}

// colors section (35 colors)

// Neutral 10
$neutral-50: #f8fafc;
$neutral-100: #f1f5f9;
$neutral-200: #e2e8f0;
$neutral-300: #cbd5e1;
$neutral-400: #94a3b8;
$neutral-500: #64748b;
$neutral-600: #475569;
$neutral-700: #334155;
$neutral-800: #1e293b;
$neutral-900: #0f172a;

// Primary 5
$primary-100: #E1E1FD;
$primary-200: #CAC6F7;
$primary-300: #A199F7;
$primary-400: #756BE2;
$primary-500: #4337C9;

// Secondary 5
$secondary-100: #FCE8EB;
$secondary-200: #FAD1D8;
$secondary-300: #F7BBC4;
$secondary-400: #F5A4B1;
$secondary-500: #F28D9D;

// Success 5
$success-100: #DDF2D1;
$success-200: #CDEBC5;
$success-300: #BEE3BA;
$success-400: #AEDCAE;
$success-500: #9FD4A3;

// Warning 5
$warning-100: #FFF699;
$warning-200: #FFED73;
$warning-300: #FFE54C;
$warning-400: #FFDC26;
$warning-500: #FFD300;

// Error 5
$error-100: #FFC185;
$error-200: #FFAA71;
$error-300: #FF875A;
$error-400: #FB6944;
$error-500: #FF4545;
