@import "https://unicons.iconscout.com/release/v4.0.0/css/line.css";
@import "https://unicons.iconscout.com/release/v4.0.0/css/solid.css";
@import "https://unicons.iconscout.com/release/v4.0.0/css/thinline.css";
@import "./../assets/icons/feather/feather-icons.css";

// Nexa Font Family (Includes 18 Typeface)

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;
	$extmods: (eot: "?",
			svg: "#"+ str-replace($name, " ", "_"));

	$formats: (otf: "opentype",
			ttf: "truetype"
		);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}
// Nexa Extra Light
@include font-face("Nexa", "../assets/fonts/NexaExtraLight", 100, null, otf);
// Nexa Extra Light Italic
@include font-face("Nexa", "../assets/fonts/NexaExtraLightItalic", 100, italic, otf);
// Nexa Thin
@include font-face("Nexa", "../assets/fonts/NexaThin", 200, null, otf);
// Nexa Thin Italic
@include font-face("Nexa", "../assets/fonts/NexaThinItalic", 200, italic, otf);
// Nexa Light
@include font-face("Nexa", "../assets/fonts/NexaLight", 300, null, otf);
// Nexa Light Italic
@include font-face("Nexa", "../assets/fonts/NexaLightItalic", 300, italic, otf);
// Nexa Book
@include font-face("Nexa", "../assets/fonts/NexaBook", 400, null, otf);
// Nexa Book Italic
@include font-face("Nexa", "../assets/fonts/NexaBookItalic", 400, italic, otf);
// Nexa Regular
@include font-face("Nexa", "../assets/fonts/NexaRegular", 500, null, otf);
// Nexa Regular Italic
@include font-face("Nexa", "../assets/fonts/NexaRegularItalic", 500, italic, otf);
// Nexa Bold
@include font-face("Nexa", "../assets/fonts/NexaBold", 600, null, otf);
// Nexa Bold Italic
@include font-face("Nexa", "../assets/fonts/NexaBoldItalic", 600, italic, otf);
// Nexa Extra Bold
@include font-face("Nexa", "../assets/fonts/NexaXBold", 700, null, otf);
// Nexa Extra Bold Italic
@include font-face("Nexa", "../assets/fonts/NexaXBoldItalic", 700, italic, otf);
// Nexa Heavy
@include font-face("Nexa", "../assets/fonts/NexaHeavy", 800, null, otf);
// Nexa Heavy Italic

@include font-face("Nexa", "../assets/fonts/NexaHeavyItalic", 800, italic, otf);
// Nexa Black
@include font-face("Nexa", "../assets/fonts/NexaBlack", 900, null, otf);
// Nexa Black Italic
@include font-face("Nexa", "../assets/fonts/NexaBlackItalic", 900, italic, otf);


